.model_title {
  font-size: 36px;
  letter-spacing: 2px;
}
.car_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.car_details {
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  padding: 16px 20px;
  background: #f9f9f9;
  height: auto;
}
.car_details p {
  line-height: 15px;
}
.car_image_small {
  width: 100%;
  height: 230px;
  margin: 10px 0;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-end-end-radius: 20px;
}
.car_image_small img {
  width: 100%;
  object-fit: contain;
}
.car_image {
  max-width: 800px;
  width: 100%;
  height: auto;
}
.switch_mode {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.switch_mode button {
  width: 200px;
  height: 30px;
  border-radius: 50px;
  background: #0071e3;
  border: none;
  color: white;
  outline: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.mySwiper {
  width: 100%;
  height: 500px;
  display: flex;
}

.swiper-slide {
  top: 30px;
}
.swiper-slide img {
  width: 100%;
  object-fit: contain;
}
