* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "SF pro";
  font-style: normal;
  font-weight: 300;
  src: local("SF pro"), url("./assets//fonts//SF-Pro-Display-Regular.otf");
}
body {
  font-family: "SF pro", sans-serif;
}
